body {
	font-family: sans-serif;
}

#shape {
	width: 200px;
	height: 200px;
	background-color: red;
	display: none;
	position: relative; /*makes it possible to use top:100px, left etc.*/
}

.bold {
	font-weight: bold;
}
